In [1]:
import pandas as pd

In [2]:
a = pd.read_csv("Sales Data Analysis.csv")
a.head()

,Column1,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Time of Day
0,0,295665,Laptops and Computers,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,Night
1,1,295666,Home Appliances,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,Morning
2,2,295667,Charging Cables,USB-C Charging Cable,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,Evening
3,3,295668,Monitors,27in FHD Monitor,1,149.99,22-12-2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,Afternoon
4,4,295669,Charging Cables,USB-C Charging Cable,1,11.95,18-12-2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,Afternoon

In [4]:
print("First 5 rows:")
print(a.head())

First 5 rows:
   Column1  Order ID       Product Category               Product  \
0        0    295665  Laptops and Computers    Macbook Pro Laptop
1        1    295666        Home Appliances    LG Washing Machine
2        2    295667        Charging Cables  USB-C Charging Cable
3        3    295668               Monitors      27in FHD Monitor
4        4    295669        Charging Cables  USB-C Charging Cable

   Quantity Ordered  Price Each        Order Date  \
0                 1     1700.00  30-12-2019 00:01
1                 1      600.00  29-12-2019 07:03
2                 1       11.95  12-12-2019 18:21
3                 1      149.99  22-12-2019 15:13
4                 1       11.95  18-12-2019 12:38

                         Purchase Address  Month    Sales            City  \
0  136 Church St, New York City, NY 10001     12  1700.00   New York City
1     562 2nd St, New York City, NY 10001     12   600.00   New York City
2    277 Main St, New York City, NY 10001     12    11.95   New York City
3     410 6th St, San Francisco, CA 94016     12   149.99   San Francisco
4           43 Hill St, Atlanta, GA 30301     12    11.95         Atlanta

   Hour Time of Day
0     0       Night
1     7     Morning
2    18     Evening
3    15   Afternoon
4    12   Afternoon

In [5]:
print("\nLast 5 rows:")
print(a.tail())

Last 5 rows:
        Column1  Order ID Product Category                 Product  \
185945    13617    222905         Batterie  AAA Batteries (4-pack)
185946    13618    222906         Monitors        27in FHD Monitor
185947    13619    222907  Charging Cables    USB-C Charging Cable
185948    13620    222908  Charging Cables    USB-C Charging Cable
185949    13621    222909         Batterie  AAA Batteries (4-pack)

        Quantity Ordered  Price Each        Order Date  \
185945                 1        2.99  07-06-2019 19:02
185946                 1      149.99  01-06-2019 19:29
185947                 1       11.95  22-06-2019 18:57
185948                 1       11.95  26-06-2019 18:35
185949                 1        2.99  25-06-2019 14:33

                             Purchase Address  Month   Sales            City  \
185945          795 Pine St, Boston, MA 02215      6    2.99          Boston
185946  495 North St, New York City, NY 10001      6  149.99   New York City
185947  319 Ridge St, San Francisco, CA 94016      6   11.95   San Francisco
185948   916 Main St, San Francisco, CA 94016      6   11.95   San Francisco
185949         209 11th St, Atlanta, GA 30301      6    2.99         Atlanta

        Hour Time of Day
185945    19     Evening
185946    19     Evening
185947    18     Evening
185948    18     Evening
185949    14   Afternoon

In [6]:
print("Shape:", a.shape)

Shape: (185950, 13)

In [7]:
print("\nData types and Non-null counts:")
print(a.info())

Data types and Non-null counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Column1           185950 non-null  int64
 1   Order ID          185950 non-null  int64
 2   Product Category  185950 non-null  object
 3   Product           185950 non-null  object
 4   Quantity Ordered  185950 non-null  int64
 5   Price Each        185950 non-null  float64
 6   Order Date        185950 non-null  object
 7   Purchase Address  185950 non-null  object
 8   Month             185950 non-null  int64
 9   Sales             185950 non-null  float64
 10  City              185950 non-null  object
 11  Hour              185950 non-null  int64
 12  Time of Day       185950 non-null  object
dtypes: float64(2), int64(5), object(6)
memory usage: 18.4+ MB
None

In [8]:
print("Column names:")
print(a.columns.tolist())

Column names:
['Column1', 'Order ID', 'Product Category', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address', 'Month', 'Sales', 'City', 'Hour', 'Time of Day']

In [9]:
print("\nSummary statistics for numeric columns:")
print(a.describe())

Summary statistics for numeric columns:
             Column1       Order ID  Quantity Ordered     Price Each  \
count  185950.000000  185950.000000     185950.000000  185950.000000
mean     8340.388475  230417.569379          1.124383     184.399735
std      5450.554093   51512.737110          0.442793     332.731330
min         0.000000  141234.000000          1.000000       2.990000
25%      3894.000000  185831.250000          1.000000      11.950000
50%      7786.000000  230367.500000          1.000000      14.950000
75%     11872.000000  275035.750000          1.000000     150.000000
max     25116.000000  319670.000000          9.000000    1700.000000

               Month          Sales           Hour
count  185950.000000  185950.000000  185950.000000
mean        7.059140     185.490917      14.413305
std         3.502996     332.919771       5.423416
min         1.000000       2.990000       0.000000
25%         4.000000      11.950000      11.000000
50%         7.000000      14.950000      15.000000
75%        10.000000     150.000000      19.000000
max        12.000000    3400.000000      23.000000

In [10]:
sales_summary = a.groupby('Month')['Sales'].agg(['sum', 'mean']).reset_index()

In [11]:
sales_summary.columns = ['Month', 'Total_Sales', 'Average_Sales']

print(sales_summary)

    Month  Total_Sales  Average_Sales
0       1   1822256.73     187.687376
1       2   2202022.42     183.884962
2       3   2807100.38     185.250471
3       4   3390670.24     185.495390
4       5   3152606.75     190.305852
5       6   2577802.26     190.187565
6       7   2647775.76     185.249826
7       8   2244467.88     187.648849
8       9   2097560.13     180.497387
9      10   3736726.88     184.238580
10     11   3199603.20     182.074956
11     12   4613443.34     184.655913

In [13]:
total_yearly_sales = a['Sales'].sum()

print("Total yearly sales for all stores combined:", total_yearly_sales)

Total yearly sales for all stores combined: 34492035.97

In [14]:
city_month_sales = a.groupby(['City', 'Month'])['Sales'].sum().reset_index()

In [15]:
city_month_sales.columns = ['City', 'Month', 'Total_Sales']
print(city_month_sales)

         City  Month  Total_Sales
0     Atlanta      1    149159.54
1     Atlanta      2    176470.30
2     Atlanta      3    231905.38
3     Atlanta      4    284448.91
4     Atlanta      5    238853.99
..        ...    ...          ...
103   Seattle      8    189715.09
104   Seattle      9    156369.27
105   Seattle     10    316856.26
106   Seattle     11    252080.13
107   Seattle     12    387317.93

[108 rows x 3 columns]

In [16]:
avg_monthly_sales = a.groupby('City')['Sales'].mean().reset_index()

In [17]:
avg_monthly_sales.columns = ['City', 'Average_Monthly_Sales']
print(avg_monthly_sales)

             City  Average_Monthly_Sales
0         Atlanta             187.856903
1          Austin             183.703357
2          Boston             183.688272
3          Dallas             186.772969
4     Los Angeles             184.177362
5   New York City             187.502711
6        Portland             186.160498
7   San Francisco             184.704550
8         Seattle             186.516120

In [18]:
avg_sales_per_city = a.groupby('City')['Sales'].mean().reset_index()

In [19]:
top_city = avg_sales_per_city.loc[avg_sales_per_city['Sales'].idxmax()]
print("City with the highest average sales:")
print(top_city)

City with the highest average sales:
City        Atlanta
Sales    187.856903
Name: 0, dtype: object

In [21]:
print(a.columns.tolist())

['Column1', 'Order ID', 'Product Category', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address', 'Month', 'Sales', 'City', 'Hour', 'Time of Day']

In [22]:
a.columns = a.columns.str.strip()

In [23]:
a['Total_Sales'] = a[['January', 'February', 'March', 'April']].sum(axis=1)

KeyError: "None of [Index(['January', 'February', 'March', 'April'], dtype='object')] are in the [columns]"

In [25]:
print(a.columns.tolist())

['Column1', 'Order ID', 'Product Category', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address', 'Month', 'Sales', 'City', 'Hour', 'Time of Day']